---

- name: Restart keepalived
  systemd:
    name: "keepalived"
    state: "restarted"
    enabled: yes

- name: Restart haproxy
  systemd:
    name: "haproxy"
    state: "restarted"
    enabled: yes
